<div id = "box">
<%= form_for(@game) do |f|%>
  WELCOME!
  <br>
  <%= f.label 'match_time' %> 
  <%= f.datetime_select 'match_time' %> 

  <br>
  <%= f.label 'Team Name' %> 
  <br>

    <%= f.fields_for 'team1[]', Team.new do |player_fields| %>
        Player 1  : <%= player_fields.collection_select :player_ids, Player.all, :id, :name %>
        Player 2  : <%= player_fields.collection_select :player_ids, Player.all, :id, :name, include_blank: true%>
        <%= player_fields.fields_for :team_games do |score_fields| %>
            Score  : <%= score_fields.number_field :score, in: 0..21 %>
        <% end %>  
    <% end %> 
  <br>
  <%= f.label 'team 2' %> 
  <br>
    <%= f.fields_for 'team2[]', Team.new do |player_fields| %>
        Player 1  : <%= player_fields.collection_select :player_ids, Player.all, :id, :name %>
        Player 2  : <%= player_fields.collection_select :player_ids, Player.all, :id, :name, include_blank: true %>
        <%= player_fields.fields_for :team_games do |score_fields| %>
              Score  : <%= score_fields.number_field :score, in: 0..21 %>
        <% end %>  
    <% end %>  
    <br>
    <br>
    <%= f.submit %>  
<% end %>  
</div>